/* 
font-family:'DIN Next W01 Light';
font-family:'FMittelschriftDIN1451W0';
font-family:'DINNextLTW01-UltraLight 706122';
font-family:'DINNextRoundedLTW01-Lig';
*/

html, html a {
	-webkit-font-smoothing: antialiased !important;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#2c292a;
	min-width: 1200px;
}

h1,h2,h3,h4,h5,h6 {
	margin:0px;
	clear: both;
	font-weight: normal;
}

p,ul,ol {
	font-size: 15px;
}

ul li {
	padding-top:10px;
	padding-bottom:10px;
	list-style-image: url('images/list-item-arrow-dark.png');
	padding-left: 10px;
}

h1 {
	text-transform: uppercase;
	font-size:50px;
	font-weight: normal;
	font-family: 'DIN Next W01 Light';
	line-height: 52px;
	border-top:none !important;
}

h2 {
	text-transform: uppercase;
	font-size:30px;
	font-weight: normal;
	font-family: 'DIN Next W01 Light';
	line-height: 52px;
	border-top: 1px solid #2c292a;
	border-bottom:none !important;
}

h3 {
	font-family: 'DIN Next W01 Light';
	text-transform: uppercase;
	font-size: 16px;
	border-bottom: 1px solid #2c292a;
	padding-bottom: 5px;
}

table {
	margin-top:10px;
	width: 100%;
	text-align: left;
	font-family: 'DIN Next W01 Light';
}

thead {
	color: #7e1417;
	text-transform: uppercase;
	font-size:22px;
}

td {
	padding:10px;
	font-size:14px;
}

/* Treaments */

.white-treatment {
	display: inline-block;
	vertical-align: top;
	border-bottom: 2px solid #fff;
	border-top:1px solid #fff;
	color:#fff;
	padding-left:5px;
	padding-right: 5px;
}

.dark-treatment {
	display: inline-block;
	vertical-align: top;
	border-bottom: 2px solid #2c292a;
	color:#2c292a;
	padding-left:5px;
	padding-right: 5px;
}

.white {
	color:#fff;
}

.square-treatment {
	background-image:url('images/square-texture.png');
	background-repeat: repeat;
}

.odd-treatment {
	background-color: #ccc;
}

.left-bottom-scizors {
	background-image: url('images/servicepage-webdev.png');
	background-position: bottom left;
	background-repeat: no-repeat;
}

/* End Treatments */

.clearfix {
	clear:both;
}

.container {
	width: 930px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

.header {
	width: 100%;
	height: 110px;
	top: 0px;
	position: fixed;
	background-image: url('images/header-texture.png');
	display: block;
	z-index: 10000;
}

.screen {
	width: 100%;
	height: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-top: 160px;
}

.discipline li {
	padding-top:5px;
	padding-bottom: 5px;
}

.discipline b {
	border-bottom: 1px solid #fff;
	padding-right:20px;
	padding-bottom: 5px;
	text-transform: uppercase;
	font-family: 'DIN Next W01 Light';
}

.half-column {
	width: 49.5%;
	display: inline-block;
}

.third-column {
	width: 32.3%;
	display: inline-block;
}

.icon {
	position: absolute;
	top:0px;
	right:0px;
}

.desktop {
	background-image:url('images/desktop.png');
	background-repeat: no-repeat;
	width: 465px;
	height: 358px;
	float: right;
	margin-left:20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-top: 21px;
	padding-left:18px;
}

.tablet {
	background-image:url('images/tablet.png');
	background-repeat: no-repeat;
	width: 276px;
	height: 358px;
	float: left;
	margin-right:20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-top: 32px;
	padding-left: 28px;
}

.phone {
	background-image:url('images/mobile.png');
	background-repeat: no-repeat;
	width: 183px;
	height: 358px;
	float: right;
	margin-left:20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-top: 61px;
	padding-left: 13px;
}

@media print {
	.header {
		position: absolute;
		width: 100%;
		top:0px;
	}
}