/* 
font-family:'DIN Next W01 Light';
font-family:'FMittelschriftDIN1451W0';
font-family:'DINNextLTW01-UltraLight 706122';
font-family:'DINNextRoundedLTW01-Lig';
*/

html, html a {
	-webkit-font-smoothing: antialiased !important;
}

body {
	font-family: 'Univers LT W01 45 Light';
	color:#2c292a;
	min-width: 1200px;
}

h1,h2,h3,h4,h5,h6 {
	margin:0px;
	clear: both;
	font-weight: normal;
}

p,ul,ol {
	font-size: 17px;
}

p {
	font-family: 'Univers LT W01 45 Light';
	line-height: 27px;
}

ul li {
	padding-top:10px;
	padding-bottom:10px;
	list-style-image: url('images/list-item-arrow-dark.png');
	padding-left: 10px;
}

h1 {
	text-transform: uppercase;
	font-size:50px;
	font-weight: normal;
	font-family: 'DIN Next W01 Light';
	line-height: 52px;
	border-top:none !important;
}

h2 {
	text-transform: uppercase;
	font-size:30px;
	font-weight: normal;
	font-family: 'DIN Next W01 Light';
	line-height: 52px;
	border-top: 1px solid #2c292a;
	border-bottom:none !important;
}

h3 {
	font-family: 'DIN Next W01 Light';
	text-transform: uppercase;
	font-size: 16px;
	border-bottom: 1px solid #2c292a;
	padding-bottom: 5px;
}

h1 span, h2 span, h3 span, h4 span, h5 span, h6 span {
	font-weight: bold;
	color:#7e1417;
}

h1 span {
	font-size: 51px;
}

h2 span {
	font-size: 31px;
}

h3 span {
	font-size: 17px;
}

table {
	margin-top:10px;
	width: 100%;
	text-align: left;
	font-family: 'DIN Next W01 Light';
}

thead {
	color: #7e1417;
	text-transform: uppercase;
	font-size:22px;
}

tr td:last-of-type {
	text-align: right;
}

td {
	padding:10px;
	font-size:14px;
	font-weight: bold;
}

td ul {
	font-weight: normal;
	font-size: 14px;
}

.logo {
	float: left;
	padding-left: 30px;
	padding-top: 25px;
}

nav {
	color: #fff;
	text-transform: uppercase;
	float: right;
	text-align: left !important;
}

nav a {
	text-decoration: none;
	color:#fff;
}

nav ul {
	margin:0px;
	padding:0px;
}

nav ul li {
	list-style: none;
	display: inline-block;
	color: #fff;
	font-family: 'DIN Next W01 Light';
	font-size: 12px;
	text-transform: uppercase;
	border-left: 1px solid rgba(255, 255, 255, 0.40);
	width: 94px;
	height: 55px;
	padding-left: 10px;
	padding-right: 55px;
	padding-top: 30px !important;
	cursor: pointer;
	vertical-align: top;
}

/* Treaments */

.white-treatment {
	display: inline-block;
	vertical-align: top;
	border-bottom: 2px solid #fff;
	border-top:1px solid #fff;
	color:#fff;
	padding-left:5px;
	padding-right: 5px;
}

.dark-treatment {
	vertical-align: top;
	border-bottom: 2px solid #2c292a;
	color:#2c292a;
	padding-left:5px;
	padding-right: 5px;
}

.white-treatment span {
	font-weight: bold;
	color: #fff;
}

.white {
	color:#fff;
}

.square-treatment {
	background-image:url('images/square-texture.png');
	background-repeat: repeat;
}

.odd-treatment {
	background-color: #fff;
}

.left-bottom-scizors {
	background-image: url('images/servicepage-webdev.png');
	background-position: bottom left;
	background-repeat: no-repeat;
}

/* End Treatments */

.clearfix {
	clear:both;
}

.container {
	width: 930px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

.text-container {
	padding-left: 110px;
	padding-right:110px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.discipline-container {
	padding-left: 150px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


.header {
	width: 100%;
	height: 110px;
	background-image: url('images/header-texture.png');
	display: block;
	position: relative;
	z-index: 10000;
	margin-bottom:80px;
}

.header img {
	width: auto !important;
}

.screen {
	width: 100%;
	height: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.text-container .discipline {
	padding-right: 0px;
}

.discipline li {
	padding-top:5px;
	padding-bottom: 5px;
}

.discipline b {
	border-bottom: 1px solid #fff;
	padding-right:20px;
	padding-bottom: 5px;
	text-transform: uppercase;
	font-family: 'DIN Next W01 Light';
	white-space:nowrap;
}

.discipline h2.dark-treatment {
	border-bottom:1px solid #2c292a !important; 
	line-height: 45px !important;
}

.discipline h2.white-treatment {
	border-bottom:1px solid #fff !important; 
	line-height: 45px !important;
}

.half-column {
	width: 49.5%;
	display: inline-block;
	vertical-align: top;
	padding-top: 15px;
}

.third-column {
	width: 32.3%;
	display: inline-block;
	vertical-align: top;
	padding-top: 15px;
}

.icon {
	position: absolute;
	top:-10px;
	right:0px;
}

.sample-img {
	position: absolute;
	right:0px;
	top:-80px;
}

#cover {

}

#section-two-cover {
	background-color:#fff;
}

#section-two-cover h1 {
	max-width: 270px;
	margin-left:20px;
	display: inline-block;
}

#section-two-cover .instanced {
	position: absolute;
	right:0px;
	top:250px;
}

#section-three-cover h1 {
	max-width: 500px;
	margin-left:20px;
	display: inline-block;
}

#section-three-cover .instanced {
	position: absolute;
	right:330px;
	top:250px;
}

#section-four-cover {
	background-color:#7e1417;
	position: relative;
	z-index:100000;
}

#section-four-cover h1 {
	max-width: 270px;
	margin-left:20px;
}

#section-four-cover .instanced {
	width: 100%;
}

#section-five-cover h1 {
	max-width: 270px;
	margin-left:20px;
	display: inline-block;
}

#section-five-cover .instanced {
	position: absolute;
	width: 75%;
	right: 30px;
	top: 130px;
	z-index: -1;
}

#subway-map {
	text-align: center;
}

#subway-map img {
	max-width: 100%;
	max-height: 100%;
}

#research-and-planning {
	background-color: #faa61a;
}

#branding {
	background-color: #4dc6e1;
}

#business-development {
	background-color: #8d3b99;
}

#web-development {
	background-color: #bed62f;
}

#marketing {
	background-color: #ee2e24;
}

.work-sample h1 {
	margin-bottom:10px;
}

.work-sample h1 span {
	font-size:34px;
	vertical-align: middle;
}

.work-sample img {
	padding-bottom:20px;
	float:left;
	width: 460px;
}

.work-sample img:first-of-type {
	padding-left:0px;
	padding-right: 10px;
}

.work-description {
	font-family: 'DIN Next W01 Light';
	font-size: 14px;
	text-transform: uppercase;
	width: 50%;
	float: left;
	padding-left: 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.work-description h3 {
	display: inline-block;
	padding-right: 90px;
}

.work-description h3 span {
	color: #7e1417;
}

.employee {
	margin-bottom: 20px;
}

.employee img {
	display: inline-block;
	padding-right:20px;
	float: left;
}

.employee-content {
	width: 795px;
	display: inline-block;
	vertical-align: top;
}

.employee-content h3 {
	font-size: 20px;
	color:#7e1417;
}

.employee-content h3 span {
	font-size: 15px;
	font-weight: normal;
	color:#000;
}

.employee-content p {
	font-size: 14px;
	line-height: 20px;
}

.sidebar-wrap {
	height: 100%;
	width: 245px;
	left:0px;
	margin-top:-110px;
	background-color: #fff;
	position: absolute;
}

.sidebar {
	padding-top: 110px;
	margin-left: -33px;
}

.icon-img {
	width: 88px;
	padding-left: 10px;
	padding-right: 10px;
	display: inline-block;
	vertical-align: top;
	padding-bottom: 20px;
	padding-top: 0px;
}

.icon-img:first-of-type {
	padding-left: 0px;
}

.discipline-container h2 {
	display:inline-block;
}

/* Editor */

.header-editor {
	display:inline-block;
	vertical-align:top;
}

.right-click-menu {
	width:400px;
	height:200px;
	background-color:#ababab;
	position:fixed;
	display:none;
	z-index:100000000000000;
}

textarea {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	max-width: 930px;
	height:100%;
	z-index: 999999;
}

.editor {
	position: fixed;
	left: 0px;
	bottom: 0px;
	z-index: 999999999999999999;
	width: 100%;
	height:32px;
	background-color:#ccc;
}