body {
    overflow:hidden;   
}

.container {
    width:960px;
    height:100%;
    margin-left: auto;
    margin-right:auto;
    position:relative;
}

strong {
    font-family:'FMittelschriftDIN1451W0';
    text-transform:uppercase;
    font-size:15px;
}

/* 
** FONT SELECTORS**
font-family:'DIN Next W01 Light';
font-family:'FMittelschriftDIN1451W0';
font-family:'DINNextLTW01-UltraLight 706122';
font-family:'DINNextRoundedLTW01-Lig';
*/

h2 {
    font-family:'DIN Next W01 Light';
    font-weight:normal;
    text-transform:uppercase;
    font-size: 50px;
    border-bottom:2px solid #fff;
    margin:0px;
}

h3 {
    border-top:1px solid #2c292a;
    font-size:30px;
    font-family:'DIN Next W01 Light';
    font-weight: normal;
    text-transform: uppercase;
    padding-top:9px;
}

h2 span {
    font-weight:bold;
}

h3 span {
    color:#7e1417;
}

.header {
    width:100%;
    height:110px;
    position:fixed;
    z-index:2000;
    top:0px;
    background-image:url('images/header-texture.png');
}

.logo {
    float:left;
    padding-left:30px;
    padding-top:25px;
}

.navigation {
    float:right;
    margin:0px;
    padding:0px;
}

.navigation li {
    list-style:none;
    float:left;
    color:#fff;
    font-family:'DIN Next W01 Light';
    font-size:12px;
    text-transform:uppercase;
    border-left:1px solid rgba(255, 255, 255, 0.40);
    width:94px;
    height:55px;
    padding-left:10px;
    padding-right:55px;
    padding-top:30px;
}

.navigation li a {
    color:#fff;
    text-decoration: none;
}

.view-wrap {
    min-height:100%;
    height:100%;
    width:100%;
    padding-top:110px;
    position:absolute;

}

.viewport {
    min-height:100%;
    height:100%;
    width:100%;
    position:absolute;
    z-index:1000;
    background-color:#fff;
    display:none;
}

.viewport:first-of-type {
    display:block;
}

.viewport ul li {
    padding-left:22px;
    padding-top:7px;
    padding-bottom:7px;
    list-style-image:url('images/list-item-arrow.png');
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height:25px;
    color: #343533;
}

.colored {
    color:#fff;
    background-color:#d1161c;
}

.viewport .container {
    width:930px;
}

#cover {
    width:100%;
    float:left;
    padding-top:55px;
}

.overview-slide {
    float:left;
    padding-top:40px;
    background-image:url('images/slide-images/product-photo.png');
    background-repeat:no-repeat;
    background-position-x: 50%;
    background-position-y: bottom;
    background-size:430px 215px;
    width:100%;
    min-height:540px;
}

.cover-page {
    float:left;
    width:100%;
    padding-top:30px;
}

.cover-page h2 {
    float:left;
    line-height:52px;
    margin-top:40px;
    margin-left:12px;
}

.cover-page .encompass {
    clear:both;
    display: block;
    margin-left:125px;
}

.content-slide h3 {
    float:left;
    clear:both;
    margin-bottom:10px;
}

.content-slide p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    clear:both;
    font-size:15px;
    color:#343533;
}

.slider-navigation {
    width:100%;
    position:absolute;
    top:500px;
    clear:both;
}

.slide-content {
    width:620px;
    float:right;
    padding-right:20px;
    font-size:14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:#343533;
    line-height:25px;
    padding-bottom:165px;
}

.slide-content p:first-of-type {
    text-transform: uppercase;
    font-weight: bold;
}

.company-logo {
    padding-left:85px;
}

.section-moniker {
    float:left;
}

.previous {
    float:left;
    padding-left:20px;
    cursor:pointer;
}

.next {
    float:right;
    padding-right:20px;
    cursor:pointer;
}

.left-col {
    height:100%;
    width:162px;
    position:absolute;
    background-color:#e9e8e8;
    padding-top:35px;
    margin-left:-30px;
}

.left-col h3 {
    width:500px;
    border:none;
    margin:0px;
    padding:0px;
    margin-left:-170px;
    font-size:35px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.left-col h3 span {
    font-weight:bold;
}

.right-col {
    float:right;
    width:780px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 25px;
}

.right-col h4 {
    font-family:'FMittelschriftDIN1451W0';
    font-size:15px;
    text-transform: uppercase;
    color:#7e1417;
    float:left;
    clear:both;
    padding-right:50px;
    padding-bottom:5px;
    margin-bottom:5px;
}

.right-col ul {
    padding-left:25px;
    clear:both;
}

.right-col ul li {
    padding-top:0px;
    padding-bottom: 0px;
    padding-left:10px;
}

.col {
    float:left;
}

.extended {
    max-width:60%;
    padding-left:50px;
}

.extended ul li {
    font-weight:bold;
}

.extended ul li ul li {
    font-weight:normal;
}

.slide-title {
    width:100%;
    float:left;
    clear:both;
    margin-top:25px;
}

.icon {
    float:right;
}

.discipline {
    color:#343533;
}

.discipline h2 {
    font-size:30px;
    float:left;
    border-bottom: 1px solid #000;
    margin-top:30px;
    padding-bottom: 10px;
}

.discipline h4 {
    color:#2c292a;
    border-bottom:1px solid #fff;
}

.discipline .extended li {
    font-weight:normal;
}

.invert {
    color:#fff;
}

.invert h4 {
    color:#fff;
    border-bottom:1px solid #000;
}

.invert ul li {
    color:#fff;
    list-style-image: url('images/list-item-arrow-white.png');
}


/* Disciplines */
.research {
    background-color:#faa61a;
}

.business-development {
    background-color:#8d3b99;
}

.branding {
    background-color:#4dc6e1;
}

.web-development {
    background-color:#bed62f;
}

.marketing {
    background-color:#ee2e24;
}
/* Section Quirks */

#sect2 h2 {
    max-width:270px;
}

#mark .slider-navigation {
    margin-left:-150px;
}