/* General CSS */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,label,p {
  margin: 0;
}

a {
  text-decoration:none;
}

.proposal {
  width: 850px;
  margin: 0 auto;
  border: 1px solid #000;
}

.proposal-top {
  position: relative;
  padding: 50px 8% 20px;
  background-color: #f2f2f2;
}

.proposal-top h1 {
  margin-bottom: 50px;
  font-size: 50px;
}

.proposal-top > img {
  position: absolute;
  top: 50px;
  right: 8%;
  max-width: 85px;
}

.proposal-chart {
  margin-bottom: 10px;
}

.proposal-chart-header {
  display: -webkit-flex;
  display: flex;
  text-align: center;
}

.proposal-chart-left {
  width: 25%;
}

.proposal-chart-right {
  width: 75%;
}

.proposal-chart-numbers, .proposal-chart-row {
  display: -webkit-flex;
  display: flex;
  margin-bottom: 1px;
}

.proposal-chart-number, .proposal-chart-select {
  display: -webkit-flex;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.proposal-chart-number > *, .proposal-chart-select > * {
  width: 8.33333333333%;
}

.proposal-chart-select li {
  height: 31px;
  border-left: 1px dotted #000;
}

.proposal-chart-select li:last-of-type {
  border-right: 1px dotted #000;
}

.proposal-chart-select li input {
  -webkit-appearance: none;
  background: none;
  width: 100%;
  height: 100%;
}

.departments {
  display: -webkit-flex;
  display: flex;
  margin: 45px 0 10px;
}

.departments-single {
  width: 25%;
  text-align: center;
}

.proposal-bottom {
  padding: 50px 8%;
  background-color: #fff;
}

.phase-single h2 {
  font-size: 20px;
}

/* Special Select Colors */

.proposal-chart-select.Research li.selected {
  background-color: purple;
}

.proposal-chart-select.Tech li.selected {
  background-color: red;
}