<div class="content-container">
  <div class="left-container">
    <div class="row">
      <p>Welcome: {{session.currentUser.name}}</p>
      <a href="/logout">Logout</a>
      <button ng-click="changeShowFind()">Find/Replace</button>
      <div ng-show="showFind == true" class="show-find">
        <input type="text" placeholder="Find Text" ng-model="wordFind">
        <input type="text" placeholder="Replace With" ng-model="wordReplace">
        <button disabled>Replace One</button>
        <button ng-click="replaceAll()">Replace All</button>
      </div>
      <input type="text" name="clientname" id="clientname" ng-model="propInfo.clientname">
    </div>
    <div class="row">
      <button ng-click="addTitleText()">Add TitleText</button>
      <button ng-click="addTitleTextSubList()">Add TitleTextSubList</button>
      <button ng-click="addTitleSubText()">Add TitleSubText</button>
      <button ng-click="addIconsTitleSubText()">Add IconsTitleSubText</button>
      <button ng-click="addIconsTitleSubTextList()">Add IconsTitleSubTextList</button>
      <button ng-click="addTablepage()">Add Table Page</button>
    </div>
    <div class="row pages">
      <div class="pages-container" id="sortable" ui-sortable ng-model="propInfo.pages"  style="height:{{containerHeight}}px">
        <section ng-repeat="page in propInfo.pages track by $index" class="page {{ page.pagetype }}" ng-switch="page.pagetype" ng-click="selectPage($index)">
          <div ng-switch-when="coverpage">
            <p>Cover Page</p>
          </div>
          <div ng-switch-when="sectionthreecover">
            <p>Section Three Cover Page</p>
          </div>
          <div ng-switch-when="backcoverpage">
            <p>Back Cover Page</p>
          </div>
          <div ng-switch-when="thedisciplines">
            <p>Disciplines Pages</p>
          </div>
          <div ng-switch-when="theteam">
            <p>The Team Pages</p>
          </div>
          <div ng-switch-when="worksamples">
            <p>Work Samples Pages</p>
          </div>
          <div ng-switch-when="titletext">
            <button class="delete" ng-click="deletePage($index)">X</button>
            <p>Title Text Page</p>
            <input type="text" class="page-title" ng-model="page.pagetitle">
            <textarea class="page-text" placeholder="page text" ng-model="page.pagetext"></textarea>
          </div>
          <div ng-switch-when="titlesubtext">
            <button class="delete" ng-click="deletePage($index)">X</button>
            <p>Title Sub Text Page</p>
            <input type="text" class="page-title" ng-model="page.pagetitle">
            <input type="text" class="page-sub" ng-model="page.pagesub">
            <textarea class="page-text" placeholder="page text" ng-model="page.pagetext"></textarea>
          </div>
          <div ng-switch-when="titletextsublist">
            <button class="delete" ng-click="deletePage($index)">X</button>
            <p>Title Text Sub List Page</p>
            <input type="text" class="page-title" ng-model="page.pagetitle">
            <textarea class="page-text" placeholder="page text" ng-model="page.pagetext"></textarea>
            <input type="text" class="page-sub" ng-model="page.pagesub">
            <div ng-repeat="list in page.pagelist track by $index">
              <input type="text" class="page-list" placeholder="page listelement" ng-model="list.text">
            </div>
          </div>
          <div ng-switch-when="subwaypage">
            <button class="delete" ng-click="deletePage($index)">X</button>
            <p>Subway Page</p>
            <div id="dropzone-subway"></div>
            <div class="subway-selection"><p></p></div>
          </div>
          <div ng-switch-when="sectiontwocover">
            <p>Section Two Cover Page</p>
            <p>Background Color</p>
            {{page.pagetitle}}
            <ui-colorpicker ng-model="page.pagetitle"></ui-colorpicker>
            <p>Client Icon Image</p>
            <div id="dropzone" dropzone="dropzoneConfig">Click Here or Drag an Image</div>
            <div class="section-two-selection"><p>{{page.pageimage}}</p></div>
            <div class="section-two-image-width"><p>200</p></div>
          </div>
          <div ng-switch-when="tablepage">
            <button class="delete" ng-click="deletePage($index)">X</button>
            <p>Table Page</p>
            <div class="service-package" ng-repeat="package in page.pagetext track by $index">
              <div class="delete-package" ng-click="deletePackage($parent.$index,$index)">X</div>
              <p>Package Name</p>
              <p>Package Timeframe</p>
              <p>Package Subtotal</p>
              <input type="text" class="table-title" ng-model="package.pname">
              <input type="text" class="table-timeframe" ng-model="package.ptime">
              <input type="text" class="table-subtotal" ng-model="package.psub">
              <div class="subservice" ng-repeat="subservice in package.pservice track by $index">
                <input type="text" class="subservice-name" ng-model="subservice.text">
                <div class="delete-subservice" ng-click="deleteSubservice($parent.$parent.$index,$parent.$index,$index)">X</div>
              </div>
              <button class="add-subservice" ng-click="addSubservice($parent.$index,$index)">Add Subservice</button>
            </div>
            <button class="add-service-package" ng-click="addPackage($index)">Add Package</button>
            <input type="text" class="offering-discount" ng-model="page.pagesub">
          </div>
          <div ng-switch-when="iconstitlesubtext">
            <button class="delete" ng-click="deletePage($index)">X</button>
            <p>Icons Title Sub Text Page</p>
            <span>Business Development</span><input type="checkbox" class="page-icons" checked>
            <span>Branding</span><input type="checkbox" class="page-icons" checked>
            <span>Research &amp; Planning</span><input type="checkbox" class="page-icons" checked>
            <span>Marketing</span><input type="checkbox" class="page-icons" checked>
            <span>Web Development</span><input type="checkbox" class="page-icons" checked>
            <input type="text" class="page-title" ng-model="page.pagetitle">
            <input type="text" class="page-sub" ng-model="page.pagesub">
            <textarea class="page-text" placeholder="page text" ng-model="page.pagetext"></textarea>
          </div>
          <div ng-switch-when="iconstitlesubtextlist">
            <button class="delete" ng-click="deletePage($index)">X</button>
            <p>Icons Title Sub Text Page</p>
            <span>Business Development</span><input type="checkbox" class="page-icons">
            <span>Branding</span><input type="checkbox" class="page-icons">
            <span>Research &amp; Planning</span><input type="checkbox" class="page-icons" checked>
            <span>Marketing</span><input type="checkbox" class="page-icons" checked>
            <span>Web Development</span><input type="checkbox" class="page-icons">
            <input type="text" class="page-title" ng-model="page.pagetitle">
            <input type="text" class="page-sub" ng-model="page.pagesub">
            <textarea class="page-text" ng-model="page.pagetext"></textarea>
            <div ng-repeat="list in page.pagelist track by $index">
              <input type="text" class="page-list" placeholder="page listelement" ng-model="list.text">
            </div>
          </div>
        </section>
      </div>
    </div>
    <button id="generate" ng-click="genProposal()">Generate</button>
    <input id="saveProp-name" type="text" placeholder="Save Name" ng-model="propSaveName">
    <button id="saveProp" ng-click="saveProposal()">Save</button>
    <div class="saveConfirm"><p>{{saveConfirm}}</p></div>
  </div>
  <div class="right-container">
    <div class="page-preview">
      <div class="page-preview-page"></div>
    </div>
    <iframe id="preview" seamless style="height:{{previewHeight}}px"></iframe>
    <select ng-model="chosenProposal">
      <option ng-repeat="proposal in proposalList">{{proposal.proposalname}}</option>
    </select>
    {{chosenProposal}}
    <button ng-click="loadinProposal()">Load</button>
  </div>
  <div id="previewCon"></div>
</div>