<div class="content-container">
  <div class="left-container">
    <div class="row">
      <p>Welcome: {{session.currentUser.name}}</p>
      <a href="/logout">Logout</a>
      <button ng-click="changeShowFind()">Find/Replace</button>
      <div ng-show="showFind == true" class="show-find">
        <input type="text" placeholder="Find Text" ng-model="wordFind">
        <input type="text" placeholder="Replace With" ng-model="wordReplace">
        <button disabled>Replace One</button>
        <button ng-click="replaceAll()">Replace All</button>
      </div>
    </div>
    <div class="row">
      <select ng-model="selectedPageType">
        <option ng-repeat="page in pageTypes" value="{{$index}}">{{page.typename}}</option>
      </select>
      <button ng-click="addPage()">Add Page</button>
      <input type="text" name="clientname" id="clientname" ng-model="propInfo.clientname">
    </div>
    <div class="row pages">
      <div class="pages-container" id="sortable" ui-sortable ng-model="propInfo.pages"  style="height:{{containerHeight}}px">
        <section ng-repeat="page in propInfo.pages track by $index" class="page" ng-click="selectPage($index)">
          <button class="delete" ng-click="deletePage($index)">X</button>
          <p>{{page.typename}}</p>
          {{page.$$hashKey}}
          <div ng-repeat="head in page.pagesetup.heading track by $index">
            <input type="text" placeholder="Heading Text" ng-model="head.content">
          </div>
          <textarea ng-repeat="textbody in page.pagesetup.textbody" placeholder="Textbody Text" ng-model="textbody.content"></textarea>
          <input ng-repeat="imagearea in page.pagesetup.imagearea" type="text" placeholder="Imagearea Upload" ng-model="imagearea.content">
          <div ng-repeat="etc in page.pagesetup.etc">
            <div ng-show="etc.assettype == 'table'">
              <div ng-if="etc.row" class="service-package" ng-repeat="row in etc.row track by $index">
                <div class="delete-package" ng-click="deleteRow($parent.$index,$index)">X</div>
                <p>Column Title</p>
                <p>Column Title</p>
                <p>Column Title</p>
                <input type="text" class="table-title">
                <input type="text" class="table-timeframe">
                <input type="text" class="table-subtotal">
              </div>
              <button class="add-service-package" ng-click="addRow($index)">Add Row</button>
            </div>
          </div>
        </section>
      </div>
    </div>
    <button id="generate" ng-click="genProposal()">Generate</button>
    <input id="saveProp-name" type="text" placeholder="Save Name" ng-model="propSaveName">
    <button id="saveProp" ng-click="saveProposal()">Save</button>
    <div class="saveConfirm"><p>{{saveConfirm}}</p></div>
  </div>
  <div class="right-container">
    <div class="page-preview">
      <div class="page-preview-page"></div>
    </div>
    <iframe id="preview" seamless style="height:{{previewHeight}}px"></iframe>
    <select ng-model="chosenProposal">
      <option ng-repeat="proposal in proposalList" value="{{proposal._id}}">{{proposal.proposalname}}</option>
    </select>
    <button ng-click="loadinProposal()">Load</button>
  </div>
  <div id="previewCon"></div>
</div>